import React from "react";

// eslint-disable-next-line @typescript-eslint/no-empty-interface
export interface {{properCase name}}Props {}

// eslint-disable-next-line no-empty-pattern
export const {{properCase name}} = ({}: {{properCase name}}Props) => {
  return (
    <div>
      {{properCase name}}
    </div>
  )
};
